<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PME</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="./src/css/style.css">
  <link rel="stylesheet" href="./src/css/projeto.css">
  <link rel="shortcut icon" href="./src/imagem/logo.jpg" type="image/x-icon">
</head>

<header>
  <nav>
    <div class="logo">
      <a href="index.html"><img src="./src/imagem/logoblack.png" alt="logo"></a>
    </div>
    <ul class="navigation">
      <li><a href="index.html">PME</a></li>
      <li><a href="parceiros.html">Avaliações</a></li>
      <li><a href="sobrenos.html">Sobre nós</a></li>
      <li><a href="login.html">Login</a></li>
      <li class="mask"><input type="checkbox" class="checkbox" id="toggle-theme" />
        <label class="label" for="toggle-theme">
          <div class="ball"></div>
        </label>
      </li>
      <li class="invisible"><a href="#">placeholder000</a></li>
    </ul>
    <div class="menu-toggle" id="menu-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      <input type="checkbox" class="checkbox" id="toggle-theme" />
      <label class="label" for="toggle-theme">
        <div class="ball"></div>
      </label>
    </div>
  </nav>
</header>


<body>
  </br>
  </br>
  </br>
  <div class="pme">
    <img src="./src/imagem/pmes.png" alt="Imagem responsiva">
  </div>
  <div class="pme2">
    <img src="./src/imagem/pmedesign.png" alt="Imagem responsiva">
  </div>
  <div class="descricao-container">
    <div class="card">
      <div class="content">
        <h2 class="card-title">Sobre o Projeto</h2>
        <p class="card-description">Com o avanço das tecnologias, o mercado digital é sempre competitivo, e as pequenas e médias empresas, nem sempre conseguem competir com empresas maiores e já consolidadas.</pclass>
        <p class="card-description"></pclass>O Programa de Atualização para Pequenas e Médias Empresas, o PME Upgrader, tem como objetivo trabalhar na
          inserção e trazer melhorias para as microempresas do alto tietê no mercado digital.</pclass>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="card-title">Benefícios do Programa</h2>
        <p class="card-description">Nossos consultores de marketing criam o planejamento estratégico e as primeiras campanhas, enquanto os especialistas digitais, operam na construção de websites e na criação de midias sociais.</pclass>
        <p class="card-description">Colocamos a mão na massa junto com sua equipe, incentivando o aprendizado prático e a garantia de resultados consistentes para alavancar sua
          empresa.</pclass>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="card-title">Modelo de Cobrança</h2>
        <p class="card-description">Trabalhamos a partir de valores personalizados de acordo com a viabilidade financeira de cada empresa. Pois sabemos que
          muitas ainda estão iniciando e podem ter recursos limitados.</pclass>
        <p class="card-description">Negociaremos diretamente com sua empresa, garantindo um valor acessível e viável.
          Assim, buscando oferecer soluções financeiras que se ajustem à capacidade de cada negócio.</pclass>
      </div>
    </div>
  </div>
  <div class="pme3">
    <img src="./src/imagem/pmedesign.png" alt="Imagem responsiva">
  </div>

  <div class="album">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/desempenho.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Adquira melhores resultados e maior nível de desempenho em seu negócio.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/autonomia.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Desenvolva seus conhecimentos e tenha autonomia no seu próprio negócio.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/visibilidade.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Mais alcance e visibilidade nas redes, destacando seus produtos e serviços.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/treinamento.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Cursos específicos, palestras e workshops. Voltados para as melhores ferramentas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/estrategia.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Planejamentos estratégicos de alta qualidade e dados de mercado atualizados.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cardmb-4shadow-sm">
            <img class="card-img-top" src="src/imagem/adaptabilidade.png" alt="Card image">
            <div class="card-body">
              <p class="card-text">Flexibilidade e praticidade na metodologia de solução dos seus problemas.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="butao2">
        <a href="saiba.html"><button>Nossas soluções</button></a>
        <a href="testecadastro.html"><button>Junte-se a Nós</button></a>
      </div>
    </div>
  </div>

  <section class="custom-jumbotron">
    <div class="custom-container">
      <h1 class="custom-heading">Entre em Contato Antes de Criar Sua Conta!

      </h1>
      <p class="custom-lead">Antes de criar sua conta, entre em contato conosco para escolher o plano ideal e esclarecer
        dúvidas sobre valores. Estamos prontos para ajudar você a fazer a melhor escolha!</p>
    </div>
    <button class="button2">
      WhatsApp
      <svg viewBox="0 0 48 48" y="0px" x="0px" xmlns="https://wa.me/5511932226877">
        <path
          d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"
          fill="#fff"></path>
        <path
          d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"
          fill="#fff"></path>
        <path
          d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"
          fill="#cfd8dc"></path>
        <path
          d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"
          fill="#40c351"></path>
        <path clip-rule="evenodd"
          d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z"
          fill-rule="evenodd" fill="#fff"></path>
      </svg>
    </button>
  </section>


  <!-- footer
 -->

  <div class="custom-shape-divider-bottom-1683068753 light-mode">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path
          d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
          class="shape-fill"></path>
    </svg>
  </div>

  <footer class="main_footer container-footer">
    <div class="content">
      <div class="colfooter">
        <h4 class="titleFooter"> Menu</h4>
        <ul>

          <li><a href="index.html" title="Página Inícial">PME</a></li>
          <li><a href="parceiros.html" title="Parceiros">Parceiros</a></li>
          <li><a href="sobrenos.html" title="Sobre Nós">Sobre Nós</a></li>
          <li><a href="cadastro.html" title="Cadastro">Cadastro | Login</a></li>

        </ul>
      </div>

      <div class="colfooter">
        <h4 class="titleFooter"> Contato</h4>
        <p><i class="icon icon-mail"></i>gen.next.consultoria@gmail.com</p>
        <p><i class="icon icon-whatsapp"></i> (11) 9 3222-6877</p>
      </div>


      <div class="colfooter">
        <h4 class="titleFooter"> Redes Sociais</h4>
        <div class="socials-container">
          <div class="socials-container">

            <a href="https://www.facebook.com/people/NextGen-Consultoria/61558284939698/" class="social facebook"><svg
                height="1em" viewBox="0 0 320 512">
                <path
                  d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                </path>
              </svg></a>

            <a href="#" class="social google-plus">
              <svg height="1em" viewBox="0 0 640 512">
                <path
                  d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z">
                </path>
              </svg>
            </a>

            <a href="https://www.instagram.com/nextgen.consultoria/" class="social instagram"><svg height="1em"
                viewBox="0 0 448 512">
                <path
                  d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                </path>
              </svg></a>
          </div>
        </div>

        <div class="clear"></div>
      </div>
  </footer>
</body>
<script src="./src/js/indexwhite.js"></script>
<script>
  const menuToggle = document.getElementById('menu-toggle');
  const navigation = document.querySelector('.navigation');

  menuToggle.addEventListener('click', () => {
    navigation.classList.toggle('open');
  });
  
  const animatedElements = document.querySelectorAll('.cardmb-4shadow-sm, .card, .pme img, .pme2 img, .pme3 img');


  // Configura o IntersectionObserver
  const observer = new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        // Adiciona a classe para animar
        entry.target.classList.add('visible');
        
        // Opcional: Para que o efeito não seja reexecutado
        observer.unobserve(entry.target);
      }
    });
  }, {
    threshold: 0.3, // Quando 30% do elemento estiver visível
  });

  // Observa cada elemento animado
  animatedElements.forEach(element => observer.observe(element));
</script>

</html>