<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="stylesheet" href="./src/css/recuperar.css">
    <link rel="shortcut icon" href="./src/imagem/logo.jpg" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
          <div class="logo">
            <a href="index.html"><img src="./src/imagem/logoblack.png" alt="logo"></a>
          </div>
          <ul class="navigation">
            <li><a href="index.html">PME</a></li>
            <li><a href="parceiros.html">Avaliações</a></li>
            <li><a href="sobrenos.html">Sobre nós</a></li>
            <li><a href="login.html">Login</a></li>
            <li class="mask"><input type="checkbox" class="checkbox" id="toggle-theme" />
              <label class="label" for="toggle-theme">
                <div class="ball"></div>
              </label>
            </li>
            <li class="invisible"><a href="#">placeholder000</a></li>
          </ul>
          <div class="menu-toggle" id="menu-toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <input type="checkbox" class="checkbox" id="toggle-theme" />
            <label class="label" for="toggle-theme">
              <div class="ball"></div>
            </label>
          </div>
        </nav>
    </header>
    /* Formulário para recuperar senha*/
    <form class="form">
        <p id="heading">Recuperar senha</p>
        <div class="field">
            <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                viewBox="0 0 16 16">
                <path
                    d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z">
                </path>
            </svg>
            <input autocomplete="off" placeholder="Digite seu e-mail" class="input-field" type="text">
        </div>
        <div class="fieldspace">
            <label id="messageLabel">Enviaremos um email com instruções para redefinir sua senha.</label>
        </div>
        <div class="btn-recuperar">
            <center><button class="button3" id="recuperarBtn">Recuperar</button></center>
        </div>
    </form>
    <div class="custom-shape-divider-bottom-1683068753 light-mode">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="shape-fill"></path>
        </svg>
    </div>

    <footer class="main_footer container-footer">
        <div class="content">
            <div class="colfooter">
                <h4 class="titleFooter"> Menu</h4>
                <ul>

                    <li><a href="index.html" title="Página Inícial">PME</a></li>
                    <li><a href="parceiros.html" title="Parcieros">Parceiros</a></li>
                    <li><a href="sobrenos.html" title="Sobre nós">Sobre nós</a></li>
                    <li><a href="cadastro.html" title="Cadastro">Cadastro | Login</a></li>

                </ul>
            </div>

            <div class="colfooter">
                <h4 class="titleFooter"> Contato</h4>
                <p><i class="icon icon-mail"></i>gen.next.consultoria@gmail.com</p>
                <p><i class="icon icon-whatsapp"></i> (11) 9 3222-6877</p>
            </div>
            <div class="colfooter">
                <h4 class="titleFooter"> Redes Sociais</h4>
                <div class="socials-container">
                    <div class="socials-container">

                        <a href="https://www.facebook.com/people/NextGen-Consultoria/61558284939698/"
                            class="social facebook"><svg height="1em" viewBox="0 0 320 512">
                                <path
                                    d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                </path>
                            </svg></a>

                        <a href="#" class="social google-plus">
                            <svg height="1em" viewBox="0 0 640 512">
                                <path
                                    d="M386.061 228.496c1.834 9.692 3.143 19.384 3.143 31.956C389.204 370.205 315.599 448 204.8 448c-106.084 0-192-85.915-192-192s85.916-192 192-192c51.864 0 95.083 18.859 128.611 50.292l-52.126 50.03c-14.145-13.621-39.028-29.599-76.485-29.599-65.484 0-118.92 54.221-118.92 121.277 0 67.056 53.436 121.277 118.92 121.277 75.961 0 104.513-54.745 108.965-82.773H204.8v-66.009h181.261zm185.406 6.437V179.2h-56.001v55.733h-55.733v56.001h55.733v55.733h56.001v-55.733H627.2v-56.001h-55.733z">
                                </path>
                            </svg>
                        </a>

                        <a href="https://www.instagram.com/nextgen.consultoria/" class="social instagram"><svg
                                height="1em" viewBox="0 0 448 512">
                                <path
                                    d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                </path>
                            </svg></a>
                    </div>

                </div>

                <div class="clear"></div>
            </div>
    </footer>
</body>
<script src="./src/js/testecadastrowhite.js"></script>
<script>
    const menuToggle = document.getElementById('menu-toggle');
    const navigation = document.querySelector('.navigation');
  
    menuToggle.addEventListener('click', () => {
      navigation.classList.toggle('open');
    });
</script>
</html>