<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Pessoal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../src/css/style.css">
    <link rel="stylesheet" href="../src/css/testeusu.css">
    <link rel="shortcut icon" href="../src/imagem/logo.jpg" type="image/x-icon">

    <title>Página de Rede Social</title>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="index.html"><img src="../src/imagem/Pme.png" alt="logo"></a>
            </div>
            <ul class="navigation">
                <li><a href="index.html">PME</a></li>
                <li><a href="saiba.html">Soluções</a></li>
                <li><a href="parceiros.html">Avaliações</a></li>
                <li><a href="sobrenos.html">Sobre nós</a></li>
                <li><a href="#" id="logout">Logout</a></li>
                <li class="mask"><input type="checkbox" class="checkbox" id="toggle-theme-mobile" />
                    <label class="label" for="toggle-theme-mobile">
                        <div class="ball"></div>
                    </label>
                </li>
                <li class="invisible"><a href="#">placeholder000</a></li>
            </ul>
            <div class="menu-toggle">
                <div class="toggle-span" id="toggle"> <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <input type="checkbox" class="checkbox" id="toggle-theme" />
                <label class="label" for="toggle-theme">
                    <div class="ball"></div>
                </label>
            </div>
        </nav>
    </header>

    <div class="container" id="dadosUsuario">
        <div class="profile">
            <img id="profilePic" src="../src/imagem/user.png" alt="Foto de Perfil">
            <label for="fileInput" class="file-label"><span class="text">Alterar Foto</span></label>
            <input type="file" id="fileInput" accept="image/*" onchange="previewImage(event)">
            <div class="welc">
                <h1>Seja bem-vindo, <span class="preto" id="user-name">!</span>!</h1>
            </div>
        </div>

        <section class="contato">
            <h2>Informações Pessoais</h2>
            
            <label for="idUsuario">ID de Usuario:</label>
            <input id="idCliente" placeholder="test">

            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="contato@empresa.com">

            <label for="telefone">Telefone:</label>
            <input type="tel" id="telefone" placeholder="(00) 1234-5678">

            <label for="nomeEmpresa">Nome da sua empresa:</label>
            <textarea id="nomeEmpresa" placeholder="NextGen"></textarea>

            <center>
                <button id="save-contact">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30"
                                class="icon">
                                <path
                                    d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Salvar</span>
                </button>
            </center>
        </section>
    </div>
    <section class="custom-jumbotron">
        <div class="custom-container">
            <h1 class="custom-heading">Abaixo estão os projetos disponíveis:</h1>
            <p class="custom-lead">Aqui você pode visualizar os projetos em que estamos trabalhando ou que já
                foram finalizados. Cada card representa um projeto.</p>
        </div>
    </section>
    <div class="container2">
        <div class="card-wrapper" id="projects-container">

        </div>
    </div>

    </div>
    <div class="container-textocurso">
        <section class="custom-jumbotron">
            <div class="custom-container">
                <h1 class="custom-heading">Cursos Gratuitos para o Desenvolvimento Pessoal</h1>
                <p class="custom-lead">
                    Os cards abaixo apresentam cursos gratuitos indicados para o desenvolvimento pessoal. São opções
                    para quem busca aprimorar habilidades e expandir conhecimentos em diversas áreas, contribuindo para
                    o crescimento pessoal e profissional. Aproveite a oportunidade de aprender de forma acessível e sem
                    custos!</p>
            </div>
    </div>
    <div class="content-wrapper">
        <div class="course-card">
            <img src="../src/imagem/cursobradesco.png" alt="Curso 1">
            <div class="course-heading">Fundação Bradesco</div>
            <div class="course-details">Plataforma gratuita com cursos de alta qualidade em diversas áreas, ideal para
                quem busca conhecimento acessível e prático.</div>
            <a href="https://www.ev.org.br/" class="course-link">Acesse o Curso</a>
        </div>

        <div class="course-card">
            <img src="../src/imagem/udemy.png" alt="Curso 2">
            <div class="course-heading">Udemy</div>
            <div class="course-details">Oferece uma ampla variedade de cursos pagos e gratuitos, ministrados por
                especialistas em diversas áreas, com certificação e suporte ao aluno.</div>
            <a href="https://www.udemy.com/" class="course-link">Acesse o Curso</a>
        </div>

        <div class="course-card">
            <img src="../src/imagem/aprenda.png" alt="Curso 3">
            <div class="course-heading">Aprenda Mais</div>
            <div class="course-details">Focada em habilidades práticas, essa plataforma oferece cursos online em
                diversas áreas, combinando flexibilidade e conteúdo de qualidade para o aprendizado contínuo.</div>
            <a href="https://aprendamais.mec.gov.br/" class="course-link">Acesse o Curso</a>
        </div>
    </div>

</body>
<script src="../src/js/usuariowhite.js"></script>
<script src="../src/js/dadospessoal.js"></script>
<script type="module" src="../src/js/test.js"></script>
<script>

    document.getElementById('logout').addEventListener('click', async function (event) {
        event.preventDefault();

        try {
            const response = await fetch('/logout', {
                method: 'POST',
            });

            if (response.ok) {
                localStorage.removeItem('authToken');
                window.location.href = '/login';
            } else {
                const errorData = await response.json();
                alert(errorData.message || "Erro ao realizar o logout.");
            }
        } catch (error) {
            console.error("Erro ao fazer logout:", error);
            alert("Ocorreu um erro ao fazer logout.");
        }
    });

    const menuToggle = document.getElementById('toggle');
    const navigation = document.querySelector('.navigation');

    menuToggle.addEventListener('click', () => {
        navigation.classList.toggle('open');
    });

</script>


</html>