/* quem somos */
.inicio {                                   
    background-color: black;
}

.conteudo-inicio {
    padding-top: 120px;
    display: flex;
    width: 85%;
    height: 800px;
    margin: 0 auto;
}

.texto {
    flex: 1;
    color: white;
    text-align: justify;
    margin: 15% 20px 10% 0px;
}

.titulo {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #007DFC;
}

.texto p {
    margin-bottom: 15px;
    font-size: 20px;
    margin-right: 10px;
}

.imagem-inicio img {
    width: 500px;
    height: auto;
    margin: 20% 0px -15% 0px;
}

button {
    margin-right: 15px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


.card-container {
    display: flex;
    justify-content: center;
}


.card-valores {
    width: 370px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.082);
    border: solid 1px #007efc71;
    margin: 0 40px;
    border-style: dotted;
}

.card-valores .icon img {
    width: 160px;
    height: 160px;
}

.card-valores .title {
    font-size: 24px;
    margin: 15px 0;
    color: #007DFC;
    font-family: cursive;
}

.card-valores .description {
    font-size: 20px;
    color: #fff;
    text-justify: auto;
}

.title-solutions {
    text-align: center;
    font-family: cursive;
    color: #007DFC;
    margin: 10% 0px 30px 0px;
    font-size: 35px;
}

.card-container-solutions {
    display: flex;
    justify-content: center;
}

.card-solutions {
    width: 350px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.082);
    border: solid 1px #007efc71;
    border-style: dotted;
    margin: 0 10px;
}

.card-solutions .icon2 img {
    width: 160px;
    height: 160px;
}

.card-solutions .title2 {
    font-size: 24px;
    margin: 15px 0;
    color: #007DFC;
    font-family: cursive;
}

.card-solutions .description2 {
    font-size: 18px;
    color: #fff;
    text-justify: auto;
}

.conteudo-perguntas {
    display: flex;
}

.image-perguntas img {
    width: 500px;
    margin: 20% 5% 0px 5%;
    height: auto;
}

.title-perguntas {
    text-align: center;
    margin: 8% 5% 5% 5%;
    font-family: cursive;
    font-size: 30px;
}

.resposta {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 3%;
}

.perguntas {
    text-align: left;
    flex: 1;
    align-items: left;
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    border-radius: 30px;
}


details {
    margin-bottom: 18px;
}

summary {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #007DFC;
    margin-bottom: 10px;
}

summary::marker {
    color: white;
}

summary:hover {
    text-decoration: none;

}

.personagens-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slider-container {
    width: 950px;
    overflow: hidden;
    position: relative;
}

.lista-personagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.cartao {
    width: 300px;
    height: 362px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

.btn-seta {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 70px;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.btn-seta img {
    background-color: white;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #4169E1;
}

.cartao .imagem-personagem {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
}

.cartao .nome {
    background-color: rgba(0, 0, 0, 0.407);
    text-align: center;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.cartao .descricao {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cartao .descricao .titulo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.331);
    font-size: 23px;
    color: white;
    padding: 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


@media (min-width:48em) {

    .colfooter {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 0;
    }

    .colfooter:nth-of-type(3n+0) {
        margin-right: 0;
        border-right: 0;
    }

}