.container {
  max-width: 100%;
  margin: auto;
  margin-top: 7%;
  background: black;
  padding: 30px;
  border-radius: 8px;
  margin: 5% 10% 0 10%;
}

/*Botão comentário enviar*/
/* From Uiverse.io by eirikvold */
button {
  width: 14%;
  margin-left: 85%;
  font-family: inherit;
  font-size: 15px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
  transform: rotate(45deg);
}


/*Final código botão enviar*/
h1 {
  text-align: center;
  color: #007DFC;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: #007DFC;
  margin-top: 20px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  transition: border-color 0.3s;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: #007DFC;
  outline: none;
}




.comment {
  border: 1px solid #555;
  padding: 20px;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #222;
}

.comment strong {
  display: block;
  color: #007DFC;
  margin-bottom: 5px;
}

.comment button {
  background-color: #dc3545;
  margin-top: 10px;
}

.comment button:hover {
  background-color: #c82333;
}

.response {
  margin-top: 15px;
  padding: 15px;
  border-left: 4px solid #007DFC;
  background-color: #333;
}

.response textarea {
  margin-top: 10px;
  background-color: #444;
  color: #fff;
  width: calc(100% - 10px);
}

.response button {
  background-color: #1c8635;
  margin-top: 10px;
}

.response button:hover {
  background-color: #218838;
}

.response .response-item {
  margin-top: 5px;
  padding: 5px;
  background-color: #444;
  border-left: 4px solid #28a745;
}

.extra-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

.container-parceiros {
  color: white;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.img-esquerda1 {
  width: 500px;
  margin-right: 20px;
}

.img-esquerda1 img {
  width: 500px;
  height: auto;
  display: block;
  margin-top: 8%;
}

.texto-direita1 {
  flex: 1;
  margin: 10% 35px 20px 35px;
}

.texto-direita1 p {
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}

.img-acima-texto1 h1 {
  width: 400px;
  height: auto;
  margin: 20px 0 30px 0px;
  font-size: 30px;
  color: #007DFC;
}

.colfooter {
  width: 30%;
  margin-right: 5%;
  margin-bottom: 0;
}

.colfooter:nth-of-type(3n+0) {
  margin-right: 0;
  border-right: 0;
}
