/* Estilos gerais */

.texto {
    color: #fafafa;
    text-align: justify;
    margin: 15% 20px 10% 0;
}

.butao2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pme img {
    padding-top: 3rem;
    width: 100%;       
    height: auto; 
}

.pme2 img {
    padding-top: 3rem;
    width: 100%;       
    height: auto; 
}

.pme3 img {
    padding-top: 3rem;
    width: 100%;       
    height: auto; 
    transform: scaleY(-1); /* Espelha verticalmente */
}

.navigation li {
    list-style-type: none;
    margin-top: 32px;
}

.menu-toggle {
    list-style-type: none;
    margin-top: 20px;
}
                                      
.butao2 button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    margin-bottom: 50px;
}

.butao2 button:hover {
    background: rgb(0, 125, 252);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.butao2 button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.butao2 button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

/* Modo Claro */

body.light-mode {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

body.light-mode .album {
    background-color: #f1f1f1; /* Cor da div "album" no light mode */
}

body.light-mode .cardmb-4shadow-sm {
    background-color: #000000;
    color: rgb(0, 0, 0);
}

body.light-mode .card-text {
    color: rgb(255, 255, 255);
}

body.light-mode .descricao-container {
    background-color: #f1f1f1;
}

body.light-mode .descricao {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

body.light-mode .descricao p {
    color: rgb(0, 0, 0);
}

body.light-mode .butao2 button {
    color: #000000;
    font-weight: bolder;
}

body.light-mode .card:hover {
    border: solid 1px #000000;
}

body.light-mode .card {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

body.light-mode .card p {
    color: rgb(0, 0, 0);
}

body.light-mode .custom-heading {
    color: #000000;
}

body.light-mode .custom-lead {
    color: #000000;
}

body.light-mode .button2 {
    color: #ffffff;
    background: #000000;
    border: 1px solid #000000;
}


@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

/* Containers */
.descricao-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card {
    display: flex;
    border: 1px solid transparent; /* Borda inicial transparente */
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 40px;
    margin: 15px;
    margin-bottom: 2%;
    text-align: center;
    position: relative;
    background-color: #000000ea;
    color: black;
    transition: transform 0.4s ease; /* Transição suave para o efeito de zoom */
}

.card:hover {
    transform: scale(1.1); /* Aumenta a div para 110% do tamanho original */
    border: double 1px #ffffff;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.card-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #257fda;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1rem;
}

.head img, .pme img {
    width: 100%;
    height: auto;
}

.album {
    background-color: rgb(0, 0, 0);
}

.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardmb-4shadow-sm {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    border-radius: 10%;
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: black;
}

.custom-jumbotron {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 3%;
    padding: 10%;
}

.custom-container {
    max-width: 700px;
    margin: 0 auto;
}

.custom-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.custom-lead {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
}

.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    z-index: 0;

}

.button2>svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
}

.button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
}

.button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
}

.button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

/* Responsividade */
@media (max-width: 768px) {
    .descricao-container {
        flex-direction: column;
        align-items: center;
    }

    .butao2 {
        flex-direction: column;
        align-items: center;
    }

    .butao2 button {
        margin: 10px 0;
    }

    .cardmb-4shadow-sm {
        margin: 10px;
    }

    .card-body {
        font-size: 0.9rem;
    }
}

@media (min-width: 768px) {
    .descricao-container {
        display: flex;
        justify-content: center; 
    }

    .descricao {
        font-size: 1.5rem; 
        margin: 1.5%;
        padding: 2%;
    }

    .butao2 button {
        width: 250px;
        font-size: 16px;
    }

    .cardmb-4shadow-sm {
        margin-bottom: 30px;
    }

    .album .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 480px) {
    .descricao-container {
        display: flex;
        justify-content: center; 
    }

    .card {
        max-width: 300px;
        font-size: 1.2rem; 
        margin: 1%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
    }

    .card-description{
        font-size: 1.1rem; 
    }

    .butao2 button {
        width: 250px;
        font-size: 16px;
    }

    .cardmb-4shadow-sm {
        margin-bottom: 30px;
    }

    .album .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .pme2 {
        margin-bottom: 8%;
    }

    .pme3 {
        margin-top: 8%;
    }
}