
.custom-shape-divider-bottom-1683068753 {
    background-color: #000000; 
}
  
.custom-shape-divider-bottom-1683068753 svg {
    fill: initial; 
    background-color: #000000;
}
  
body.light-mode {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}

body.light-mode .custom-shape-divider-bottom-1683068753 {
    background-color: #f1f1f1; 
}

body.light-mode .custom-shape-divider-bottom-1683068753 svg {
    fill: #eaeaea; 
    background-color: #f1f1f1;
}

body.light-mode .album {
    background-color: #f1f1f1;
}

body.light-mode .cardmb-4shadow-sm {
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-bottom: 20px;
}

body.light-mode .card-text {
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

body.light-mode .descricao-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
    background-color: #f1f1f1;
}

body.light-mode .descricao {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.25rem;
    padding: 1%;
    max-width: 500px;
}

body.light-mode .descricao p {
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}

.texto {
    color: #fafafa;
    text-align: justify;
    margin: 15% 20px 10% 0;
}

.butao2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pme img {
    padding-top: 3rem;
    width: 100%;       
    height: auto; 
}
                                      
.butao2 button {
    margin-left: 0;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);                                            
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 350px;
    background-color: #007DFC;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.butao2 button:hover {
    background: #0057ad;
}

.descricao-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 5%;
    text-align: center;
    position: relative;
    background-color: #04051dea;
    box-shadow: 0 10px 15px -3px rgba(33,150,243,0.4), 0 4px 6px -4px rgba(33,150,243,0.4);
    border-radius: 10px;
    background: linear-gradient(45deg, #04051dea 0%, #2b566e 100%);
    color: black;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    color: #257fda;
    margin-bottom: 1rem;
  }
  
  .card-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1rem;
  }
  


.head img, .pme img {
    width: 100%;
    height: auto;
}

.album {
    background-color: rgb(0, 0, 0);
}

.row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardmb-4shadow-sm {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    border-radius: 10%;
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 1rem;
    color: black;
}
.custom-jumbotron {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 5%;
    padding: 10%;
  }
  
  .custom-container {
    max-width: 700px;
    margin: 0 auto;
  }
  
  .custom-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .custom-lead {
    font-size: 1.25rem;
    color: #ffffff;
    margin-bottom: 1.5rem;
  }
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
   
  }
  
  .button2 > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
@media (max-width: 768px) {

    .descricao-container {
        flex-direction: column;
        margin-right: 5%;
        align-items: center;
    }

    .butao2 {
        flex-direction: column;
        align-items: center;
    }

    .butao2 button {
        margin: 10px 0;
    }

    .cardmb-4shadow-sm {
        margin: 10px;
    }

    .card-body {
        font-size: 0.9rem;
    }
}
@media (min-width: 768px) {
    .descricao-container {
        display: flex;
        justify-content: center; 
    }

    .descricao {
        font-size: 1.5rem; 
        margin: 1.5%;
        padding: 2%;
    }

    .butao2 button {
        width: 250px;
        font-size: 16px;
    }

    .cardmb-4shadow-sm {
        margin-bottom: 30px;
    }

    .album .row {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
